name: "publish-hello-world-component"

# Run this action on every push to master branch 
on:
  workflow_dispatch: # To manually run the job
  push:
    branches:
      - main
    paths:
      - components/hello-world/**
  # pull_request:
  #   branches:    
  #     - main

jobs:
  #Existing release job for npm package commented, need to be modifyed publishing w.r.t varients
  # release:
  #   name: "publish component"
  #   runs-on: windows-latest
  #   steps:
  #     - name: 游닄 checkout
  #       uses: actions/checkout@v2.1.1

  #     - name: 游릭 node
  #       uses: actions/setup-node@v3
  #       with:
  #         always-auth: true
  #         node-version: '12.18.2'
  #         scope: '@naveed235812'
  #         registry-url: https://registry.npmjs.org

  #     - name: npm install
  #       run: npm install
  #       working-directory: ./components/hello-world

  #     - name: npm build
  #       run: npm run build
  #       working-directory: ./components/hello-world

  #     - name: npm pack       
  #       run: npm pack
  #       working-directory: ./components/hello-world

  #     - name: display root
  #       run: |
  #         dir

  #     - name: display pack file
  #       run: |
  #         cd components
  #         dir
  #         cd hello-world
  #         dir

  #     # The NPM_AUTH_TOKEN will be pulled from the github repository (settings/secretes)
  #     - name: 游 publish
  #       run: npm publish --access public
  #       working-directory: components/hello-world
  #       env:
  #         NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}

  #Test job to checkout several repos
  test:
    name: "test job"
    runs-on: windows-latest
    steps:
      - name: 游닄 Checkout PLE_DEVOPS
        uses: actions/checkout@v4
        with:
          path: PLE_DEVOPS
    
      - name: Checkout Varient_Basic
        uses: actions/checkout@v4
        with:
          repository: naveedkhan8067/Varient_Basic
          token: ${{ secrets.ACCESS_TOKEN_GITHUB }} 
          path: Varient_Basic

      - name: Displat Root All Checkout Repos
        run: |
          dir

      - name: 游릭 node
        uses: actions/setup-node@v3
        with:
          always-auth: true
          node-version: '12.18.2'
          scope: '@naveed235812'
          registry-url: https://registry.npmjs.org

      - name: Displat PLE_DEVOPS SRC
        run: |
          dir
        working-directory: ./PLE_DEVOPS

      - name: npm install
        run: npm install
        working-directory: ./PLE_DEVOPS/components/hello-world

      - name: Prepare Varient Config
        run: |
          python .\preparevarientConfig.py
        working-directory: ./PLE_DEVOPS/components/hello-world
        env:
          VARIENT_TYPE: WINDOWS

      - name: Execute C-Preprocessor
        run: |
          npm install c-preprocessor -g
          echo example of c-preprocessor
          c-preprocessor ./src/Main.ts ./src/Main.ts
        working-directory: ./PLE_DEVOPS/components/hello-world

      - name: npm build
        run: npm run build
        working-directory: ./PLE_DEVOPS/components/hello-world

      - name: Execute PLE_DEVOPS
        run: node ./lib/index.js
        working-directory: ./PLE_DEVOPS/components/hello-world

      - name: npm install
        run: npm install
        working-directory: ./Varient_Basic
        
      - name: npm build
        run: npm run build
        working-directory: ./Varient_Basic

      - name: Execute Varient_Basic
        run: node ./lib/index.js
        working-directory: ./Varient_Basic
        
  linux:
    name: "Linux Varient"
    runs-on: ubuntu-latest
    steps:
      - name: 游닄 checkout
        uses: actions/checkout@v2.1.1

      - name: 游릭 node
        uses: actions/setup-node@v3
        with:
          always-auth: true
          node-version: '12.18.2'
          scope: '@naveed235812'
          registry-url: https://registry.npmjs.org

      - name: npm install
        run: npm install
        working-directory: ./components/hello-world

      - name: Prepare Varient Config
        run: |
          python preparevarientConfig.py
        working-directory: ./components/hello-world
        env:
          VARIENT_TYPE: LINUX

      - name: Execute C-Preprocessor
        run: |
          npm install c-preprocessor -g
          echo example of c-preprocessor
          c-preprocessor ./src/Main.ts ./src/Main.ts
        working-directory: ./components/hello-world

      - name: npm build
        run: npm run build
        working-directory: ./components/hello-world

      - name: Execute Linux Varient
        run: node ./lib/index.js
        working-directory: ./components/hello-world

  mac:
    name: "Mac Varient"
    runs-on: macos-latest
    steps:
      - name: 游닄 checkout
        uses: actions/checkout@v2.1.1

      - name: 游릭 node
        uses: actions/setup-node@v3
        with:
          always-auth: true
          node-version: '12.18.2'
          scope: '@naveed235812'
          registry-url: https://registry.npmjs.org

      - name: npm install
        run: npm install
        working-directory: ./components/hello-world

      - name: Prepare Varient Config
        run: |
          python preparevarientConfig.py
        working-directory: ./components/hello-world
        env:
          VARIENT_TYPE: MAC

      - name: Execute C-Preprocessor
        run: |
          npm install c-preprocessor -g
          echo example of c-preprocessor
          c-preprocessor ./src/Main.ts ./src/Main.ts
        working-directory: ./components/hello-world

      - name: npm build
        run: npm run build
        working-directory: ./components/hello-world

      - name: Execute Mac Varient
        run: node ./lib/index.js
        working-directory: ./components/hello-world

  windows:
    name: "Windows Varient"
    runs-on: windows-latest
    steps:
      - name: 游닄 checkout
        uses: actions/checkout@v2.1.1

      - name: 游릭 node
        uses: actions/setup-node@v3
        with:
          always-auth: true
          node-version: '12.18.2'
          scope: '@naveed235812'
          registry-url: https://registry.npmjs.org

      - name: npm install
        run: npm install
        working-directory: ./components/hello-world

      - name: Prepare Varient Config
        run: |
          python .\preparevarientConfig.py
        working-directory: ./components/hello-world
        env:
          VARIENT_TYPE: WINDOWS

      - name: Execute C-Preprocessor
        run: |
          npm install c-preprocessor -g
          echo example of c-preprocessor
          c-preprocessor ./src/Main.ts ./src/Main.ts
        working-directory: ./components/hello-world

      - name: npm build
        run: npm run build
        working-directory: ./components/hello-world

      - name: Execute Windows Varient
        run: node ./lib/index.js
        working-directory: ./components/hello-world

